---
title: Page not found
layout: base.njk
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="post__content">
<h1>Oops! Couldn’t find that page.</h1>
  <p>You can:
    <ul>
      <li><a href="courses/">See courses we offer</a></li>
      <li><a href="registration/">Read registration information</a></li>
    </ul>    
  </p>
</div>
