---
title: Southern California AP®Institute
layout: base.njk
description: The Southern California AP® summer session consists of an intensive online program for both new and experienced AP® instructors, to equip high school teachers with information that would enhance the achievement of their students on AP® exams.
---


<div class="intropic"><img alt="Image of the Palos Verdes cliffs" title="View of the Palos Verdes Cliffs" src="{{ 'images/motohidemiwaPVcliffs.jpg' | url }}" />
<p class="figcaption">Photo of the PV cliffs by <a href="http://www.flickr.com/photos/moto_club4ag/">Motohide Miwa</a></p>
</div>

<div class="homecontent"><!--Begin content-->

<div class="intro">
	{{ content | safe }}
	</div>

</div>
